@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Gemunu Libre', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

p {
	margin: 0;
}

:root {
	--red: rgb(226, 112, 112);
	--skyblue: rgb(96, 228, 255);
	--yellow: rgb(246, 206, 76);
	--pink: rgb(241, 152, 255);
	--purple: rgb(141, 65, 255);
	--lightPurple: rgb(190, 192, 255);
	--gray: rgb(90, 90, 90);
	--aqua: rgb(2, 181, 187);
	--shadow1: 0px 3px 6px rgba(0, 0, 0, 0.16);
	--green: rgb(0, 177, 53);
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: var(--red);
	justify-content: space-between;
	color: white;
	padding: 20px 100px;
}

.navbar {
	width: 100%;
	background-color: var(--skyblue);
	padding: 20px 0px;
}

.ul__navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	justify-content: center;
	margin: 0;
}

.ul__navbar--item {
	margin: 0 35px;
}

.ul__navbar--item a {
	text-decoration: none;
}

/* bottom side */
.data__container {
	width: 80%;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	margin: 0 auto;
}

.leftpanel__container {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.addx__shortcut {
	background-color: var(--purple);
	padding: 10px 15px;
}

.addx__shortcut a {
	text-decoration: none;
}

.addx__item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: white;
	border-radius: 10px;
	padding: 10px 20px;
}

.addx__item:hover {
	cursor: pointer;
}

.addx__text {
	margin: 0;
}

.categories__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--yellow);
}

.categories__container ul {
	list-style: none;
	margin: 0;
	padding: 5px 15px;
}

.categories__box {
	margin: 5px 0;
	border-radius: 10px;
	background-color: white;
	padding: 10px 20px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.categories__text {
	text-decoration: none;
}

.productslist {
	width: 100%;
	background-color: var(--pink);
}

.productslist p {
	padding: 10px 0;
}

.products__actions,
.products__stock {
	display: flex;
	flex-direction: row;
}

.products__box {
	/* width: 90%; */
	margin: 10px 20px;
	padding: 5px 15px;
	border-radius: 15px;
	/* justify-content: space-between; */
	background-color: white;
}

.products__box--head {
	background-color: var(--gray);
	color: white;
}
.products__actions a {
	text-decoration: none;
	display: inline;
}

.products__actions--text,
.products__actions--head {
	/* margin: 0px !important; */
	padding: 10px !important;
	/* justify-content: space-around; */
}

.products__actions--clickable:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.products__actions--textinactive {
	color: var(--red);
}

.products__actions--textactive {
	color: var(--green);
}

.products__box {
	display: grid;
	grid-template-columns: 3fr 2fr 1fr 1fr;
}

/* .products__maintext { */
/* width: 40%; */
/* } */

.products__actions {
	/* width: 20%; */
	justify-self: flex-end;
}
.products__stock {
	/* width: 20%; */
	/* justify-content: flex-end; */
	justify-self: center;
}

.products__price {
	/* width: 20%; */
	/* justify-content: flex-end; */
	justify-self: center;
}

.products__stock--text {
	padding: 10px !important;
}

/* .products__stock--text:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
} */

/* Add product */
.productFicha__container {
	width: 80%;
	background-color: var(--lightPurple);
	margin: 20px auto;
	padding: 30px 50px;
	border-radius: 30px;
}

.productFicha__container input {
	font-family: 'Gemunu Libre', sans-serif;
}

.productFicha__container label {
	display: block;
	font-size: 22px;
	margin-bottom: 10px;
}

.product__input,
.product__select,
.product__textarea {
	/* border-radius: 5px; */
	font-size: 18px;
	padding: 10px 20px;
	width: 100%;
	font-family: 'Gemunu Libre', sans-serif;
	outline-color: transparent;
	border: 1px solid transparent;
	border-radius: 10px;
	/* font-weight: 600 */
}

.product__select,
.product__textarea,
.product__btn {
	font-size: 18px;
	padding: 10px 20px;
	font-weight: 600;

	font-family: 'Gemunu Libre', sans-serif;
}

.product__container--row {
	margin-bottom: 20px;
}

.product__location {
	display: grid;
	/* grid-template-rows: 1em 1fr; */
	grid-template-columns: 1fr 2fr;
	/* flex-direction: row; */
	/* gap: 15px; */
	column-gap: 25px;
}

.product__location .product__input {
	grid-row: 2/3;
}

.product__details {
	display: grid;
	/* grid-template-rows: 1fr 1fr; */
	grid-template-columns: 1fr 1fr;
	column-gap: 25px;
}

.product__details .product__textarea {
	grid-row: 2/3;
}

.product__details--subgrid {
	grid-row: 1/3;
}

#prodBrand {
	margin-bottom: 15px;
}

.product__btn {
	border: 0;
	border-radius: 10px;
	padding: 10px 30px;
	background-color: white;
}

.product__btn:hover {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

.product__container--lastrow {
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.product__container--priceCat {
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 25px;
}

.product__container--priceCat .product__input,
.product__container--priceCat .product__select {
	grid-row: 2/3;
}

/* Publication styles */
