.productslist {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	padding: 20px;
}

.products__box {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: var(--shadow1);
	padding: 10px;
}

.products__box--inactive {
	background-color: var(--lightiestgray);
}

.products__image--main {
	object-fit: cover;
	max-width: 100%;
	max-height: 200px;
}

.products__details {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.products__maintext {
	font-size: 20px;
	flex-grow: 1;
}

.products__price {
	font-size: 24px;
}

.products__cart--inactive {
	background-color: var(--red);
}

@media (min-width: 700px) {
	.productslist {
		grid-template-columns: repeat(3, 1fr);
	}
	.products__box {
		transition: transform 0.5s;
	}
	.products__box:hover {
		cursor: pointer;
		transform: scale(1.03);
	}
	.products__cart:hover {
		cursor: pointer;
		background-color: var(--darkaqua);
	}
	.products__cart--inactive:hover {
		cursor: not-allowed;
		background-color: var(--red);
	}
}

@media (min-width: 1200px) {
	.productslist {
		grid-template-columns: repeat(4, 1fr);
	}
}

.cart__container {
	width: 90%;
	display: flex;
	flex-direction: column-reverse;
	margin: 20px auto;
	gap: 15px;
}

.product__cart--container {
	display: flex;
	flex-direction: column;
	background-color: var(--lightgray);
	padding: 15px;
	border-radius: 15px;
	gap: 15px;
	flex-grow: 1;
}

.product__cart--box {
	display: flex;
	padding: 10px;
	border-radius: 15px;
	background-color: white;
}

.product__cart--img {
	object-fit: cover;
	max-width: 100%;
	height: 50px;
}

.product__cart--main {
	flex-grow: 1;
}

.product__cart--actions {
	display: flex;
	flex-direction: column;

	gap: 10px;
}

.product__cart--actions input[type='number'] {
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	outline-color: var(--aqua);
	margin: auto;
	width: 70px;
}

.product__cart--actions button {
	padding: 10px;
	margin: auto;
	border-radius: 50%;
	/* transition: background-color 0.4s; */
}

.cart__price--block {
	background-color: var(--lightgray);
	padding: 15px;
	border-radius: 15px;
}

.cart__price--container {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 15px;
	gap: 10px;
	background-color: white;
}

.cart__price--total {
	font-size: 28px;
}

.cart__price--subtotal {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.cart__price--prodQty {
	font-size: 18px;
}

.cart__price--prodName {
	font-size: 16px;
	flex-grow: 1;
}

.cart__price--prodPrice {
	font-size: 18px;
}

.cart__price--container button {
	flex-shrink: 1;
	/* transition: background-color 0.4s; */
}

@media (min-width: 700px) {
	.product__cart--actions button {
		transition: background-color 0.4s;
	}

	.cart__price--container button {
		transition: background-color 0.4s;
	}

	.product__cart--actions button:hover {
		background-color: var(--red);
	}
	.cart__price--container button:hover {
		background-color: var(--purple);
	}
}

@media (min-width: 1200px) {
	.cart__container {
		flex-direction: row;
		width: 80%;
	}
}
